/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

/**
Restore the focus styles unset by the previous rule.
*/

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e4e4e7; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #a1a1aa;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a1a1aa;
}

input::placeholder,
textarea::placeholder {
  color: #a1a1aa;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
}

@media (min-width: 641px) {
  .container {
    max-width: 641px;
  }
}

@media (min-width: 1008px) {
  .container {
    max-width: 1008px;
  }
}

.divide-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(2px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(2px * var(--tw-divide-y-reverse));
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.bg-dark-cyan {
  --tw-bg-opacity: 1;
  background-color: rgba(14, 135, 132, var(--tw-bg-opacity));
}

.bg-dark-grey-blue {
  --tw-bg-opacity: 1;
  background-color: rgba(51, 61, 75, var(--tw-bg-opacity));
}

.bg-light-cream {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 252, 247, var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-light-grey {
  --tw-bg-opacity: 1;
  background-color: rgba(244, 241, 235, var(--tw-bg-opacity));
}

.hover\:bg-pale-orange:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(253, 214, 186, var(--tw-bg-opacity));
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-hero-small {
  background-image: url('assets/home/mobile/image-hero-coffeepress.jpg');
}

.bg-about-hero-small {
  background-image: url('assets/about/mobile/image-hero-whitecup.jpg');
}

.bg-plan-hero-small {
  background-image: url('assets/plan/mobile/image-hero-blackcup.jpg');
}

.from-light-cream {
  --tw-gradient-from: #FEFCF7;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(254, 252, 247, 0));
}

.via-light-cream {
  --tw-gradient-stops: var(--tw-gradient-from), #FEFCF7, var(--tw-gradient-to, rgba(254, 252, 247, 0));
}

.bg-center {
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.flex-col {
  flex-direction: column;
}

.place-content-center {
  place-content: center;
}

.items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.justify-self-center {
  justify-self: center;
}

.font-body {
  font-family: Barlow, sans-serif;
}

.font-heading {
  font-family: Fraunces, serif;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-14 {
  height: 3.5rem;
}

.h-72 {
  height: 18rem;
}

.h-screen {
  height: 100vh;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-32 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.mt-28 {
  margin-top: 7rem;
}

.mb-28 {
  margin-bottom: 7rem;
}

.mt-32 {
  margin-top: 8rem;
}

.mb-48 {
  margin-bottom: 12rem;
}

.-mt-5 {
  margin-top: -1.25rem;
}

.opacity-80 {
  opacity: 0.8;
}

.p-6 {
  padding: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-28 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pt-16 {
  padding-top: 4rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-y-0 {
  top: 0px;
  bottom: 0px;
}

.top-0 {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.right-1 {
  right: 0.25rem;
}

.top-5 {
  top: 1.25rem;
}

.right-6 {
  right: 1.5rem;
}

.top-60 {
  top: 15rem;
}

.-top-20 {
  top: -5rem;
}

* {
  --tw-shadow: 0 0 #0000;
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.text-center {
  text-align: center;
}

.text-dark-cyan {
  --tw-text-opacity: 1;
  color: rgba(14, 135, 132, var(--tw-text-opacity));
}

.text-dark-grey-blue {
  --tw-text-opacity: 1;
  color: rgba(51, 61, 75, var(--tw-text-opacity));
}

.text-light-cream {
  --tw-text-opacity: 1;
  color: rgba(254, 252, 247, var(--tw-text-opacity));
}

.text-grey {
  --tw-text-opacity: 1;
  color: rgba(131, 136, 143, var(--tw-text-opacity));
}

.text-pale-orange {
  --tw-text-opacity: 1;
  color: rgba(253, 214, 186, var(--tw-text-opacity));
}

.hover\:text-dark-grey-blue:hover {
  --tw-text-opacity: 1;
  color: rgba(51, 61, 75, var(--tw-text-opacity));
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.w-40 {
  width: 10rem;
}

.w-48 {
  width: 12rem;
}

.w-52 {
  width: 13rem;
}

.w-72 {
  width: 18rem;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-max {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-9 {
  gap: 2.25rem;
}

.gap-y-5 {
  row-gap: 1.25rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.gap-y-14 {
  row-gap: 3.5rem;
}

.gap-y-16 {
  row-gap: 4rem;
}

.gap-y-20 {
  row-gap: 5rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@media (min-width: 641px) {
  .tablet\:bg-hero-med {
    background-image: url('assets/home/tablet/image-hero-coffeepress.jpg');
  }

  .tablet\:bg-about-hero-med {
    background-image: url('assets/about/tablet/image-hero-whitecup.jpg');
  }

  .tablet\:bg-plan-hero-med {
    background-image: url('assets/plan/tablet/image-hero-blackcup.jpg');
  }

  .tablet\:rounded-b-lg {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .tablet\:inline {
    display: inline;
  }

  .tablet\:grid {
    display: grid;
  }

  .tablet\:hidden {
    display: none;
  }

  .tablet\:place-content-start {
    place-content: start;
  }

  .tablet\:items-center {
    align-items: center;
  }

  .tablet\:justify-items-start {
    justify-items: start;
  }

  .tablet\:justify-self-end {
    justify-self: end;
  }

  .tablet\:h-7 {
    height: 1.75rem;
  }

  .tablet\:h-64 {
    height: 16rem;
  }

  .tablet\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .tablet\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .tablet\:text-8xl {
    font-size: 6rem;
    line-height: 1;
  }

  .tablet\:m-auto {
    margin: auto;
  }

  .tablet\:mt-0 {
    margin-top: 0px;
  }

  .tablet\:mt-8 {
    margin-top: 2rem;
  }

  .tablet\:mb-16 {
    margin-bottom: 4rem;
  }

  .tablet\:mb-72 {
    margin-bottom: 18rem;
  }

  .tablet\:-mt-20 {
    margin-top: -5rem;
  }

  .tablet\:-mt-96 {
    margin-top: -24rem;
  }

  .tablet\:py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .tablet\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .tablet\:pb-10 {
    padding-bottom: 2.5rem;
  }

  .tablet\:pl-14 {
    padding-left: 3.5rem;
  }

  .tablet\:pb-20 {
    padding-bottom: 5rem;
  }

  .tablet\:pb-96 {
    padding-bottom: 24rem;
  }

  .tablet\:relative {
    position: relative;
  }

  .tablet\:-top-16 {
    top: -4rem;
  }

  .tablet\:-top-36 {
    top: -9rem;
  }

  .tablet\:text-left {
    text-align: left;
  }

  .tablet\:w-60 {
    width: 15rem;
  }

  .tablet\:w-72 {
    width: 18rem;
  }

  .tablet\:w-96 {
    width: 24rem;
  }

  .tablet\:gap-0 {
    gap: 0px;
  }

  .tablet\:gap-x-2 {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }

  .tablet\:gap-x-8 {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .tablet\:gap-x-2\.5 {
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
  }

  .tablet\:grid-flow-col {
    grid-auto-flow: column;
  }

  .tablet\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .tablet\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .tablet\:auto-cols-max {
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
  }

  .tablet\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .tablet\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .tablet\:col-start-1 {
    grid-column-start: 1;
  }

  .tablet\:row-span-2 {
    grid-row: span 2 / span 2;
  }

  .tablet\:row-start-1 {
    grid-row-start: 1;
  }
}

@media (min-width: 1008px) {
  .comp\:bg-hero-lg {
    background-image: url('assets/home/desktop/image-hero-coffeepress.jpg');
  }

  .comp\:bg-about-hero-lg {
    background-image: url('assets/about/desktop/image-hero-whitecup.jpg');
  }

  .comp\:bg-plan-hero-lg {
    background-image: url('assets/plan/desktop/image-hero-blackcup.jpg');
  }

  .comp\:block {
    display: block;
  }

  .comp\:flex {
    display: flex;
  }

  .comp\:grid {
    display: grid;
  }

  .comp\:flex-row {
    flex-direction: row;
  }

  .comp\:flex-col {
    flex-direction: column;
  }

  .comp\:justify-items-center {
    justify-items: center;
  }

  .comp\:justify-center {
    justify-content: center;
  }

  .comp\:justify-self-start {
    justify-self: start;
  }

  .comp\:justify-self-end {
    justify-self: end;
  }

  .comp\:justify-self-center {
    justify-self: center;
  }

  .comp\:h-auto {
    height: auto;
  }

  .comp\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .comp\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }

  .comp\:text-9xl {
    font-size: 8rem;
    line-height: 1;
  }

  .comp\:m-0 {
    margin: 0px;
  }

  .comp\:mb-14 {
    margin-bottom: 3.5rem;
  }

  .comp\:-mt-60 {
    margin-top: -15rem;
  }

  .comp\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .comp\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .comp\:py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .comp\:pb-0 {
    padding-bottom: 0px;
  }

  .comp\:pl-20 {
    padding-left: 5rem;
  }

  .comp\:pb-24 {
    padding-bottom: 6rem;
  }

  .comp\:pl-32 {
    padding-left: 8rem;
  }

  .comp\:pb-64 {
    padding-bottom: 16rem;
  }

  .comp\:-top-20 {
    top: -5rem;
  }

  .comp\:text-left {
    text-align: left;
  }

  .comp\:text-center {
    text-align: center;
  }

  .comp\:text-right {
    text-align: right;
  }

  .comp\:w-auto {
    width: auto;
  }

  .comp\:w-2\/4 {
    width: 50%;
  }

  .comp\:gap-x-24 {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }

  .comp\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .comp\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .comp\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .comp\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .comp\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .comp\:col-start-1 {
    grid-column-start: 1;
  }

  .comp\:col-start-2 {
    grid-column-start: 2;
  }

  .comp\:grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .comp\:row-start-1 {
    grid-row-start: 1;
  }
}
